.ReleaseManagement {
  width: 1380px;
  margin: 0 auto;
  padding-bottom: 50px;
  header{
    height: auto;
    overflow: hidden;
  }
  .breadcrumb-container {
    margin-top: 21px;
    padding-bottom: 21px;
    margin-bottom: 32px;
    border-bottom: 1px solid #f2f4f8;
    .title {
      width: 200px;
      float: left;
      color: #475669;
    }
    .breadcrumb-inner {
      float: left;
      line-height: 32px;
    }
    .el-breadcrumb__item {
      .el-breadcrumb__inner {
        color: rgba(26, 23, 59, 1);
      }
    }
  }
  .el-input-group--prepend{
    .el-input__inner{
        height: 35px;
        width: 311px;

    }
  }
  .el-table__body{
    .red{
      color: red;
    }
  }
  .w120 {
    width: 120px;
  }
  .el-button {
    width: 100px;
  }
  .input-with-select {
    width: 420px;
    .input-left {
      width: 110px;
    }
    .el-input__icon {
      transition: all 0s;
    }
  }
  .autocomplete{
    .el-input{
      .el-input__inner{
        height:32px;
        border: none;
        width: 288px;
      }
    }
  }
  .el-dropdown {
    color: #8a96a0 !important;
    cursor: pointer;
  }
  .crm-tag {
    float: left;
    height: 24px;
    font-size: 12px;
    line-height: 22px;
    border: 1px solid #dce0e6;
    border-radius: 2px;
    color: #5e6d82;
    margin-top: 8px;
    margin-right: 20px;
    .ms {
      float: left;
      padding: 0 12px;
    }
    .del {
      float: left;
      width: 24px;
      text-align: center;
      border-left: 1px solid #dce0e6;
      cursor: pointer;
    }
  }
  .customers {
    margin-left: 24px;
  }
  .buttons {
    float: right;
    margin-left: 12px;
  }
  .customers {
    margin-left: 24px;
  }
  .el-dropdown-menu {
    width: 101px;
    height: 147px;
    line-height: 16px;
    margin-top: 6px;
    color: #333333;
  }
  .el-buttons {
    width: 75px;
    height: 24px;
    margin-top: 11px;
    margin-left: 13px;
    font-size: 18px;
  }
  .buttonlis {
    float: right;
  }
  .el-dropdown-menu__item {
    line-height: 24px;
  }
  .ctrl {
    margin-right: 28px;
  }
  .el-input{
    font-size: inherit;
  }
  .appointment {
    float: right;
    .el-dialog__title {
      width: 56px;
      height: 21px;
      font-size: 14px;
      color: rgba(51, 51, 51, 1);
      line-height: 21px;
    }
    .el-input__inner {
      width: 160px;
      height: 32px;
      margin-left: 12px;
    }
    .el-form-item__label {
      width: 60px;
      height: 17px;
      font-size: 12px;
      line-height: 17px;
      color: rgba(138, 150, 160, 1);
      padding-right: 0px;
    }
    .el-form-item__content {
      width: 232px;
      height: 32px;
      margin-top: -12px;

    }
    .el-form-item {
      width: 220px;
      height: 32px;
    }
    .el-input {
      font-size: 14px;
      display: inline-block;
      width: 160px;
    }
  }
  .ReleaseManagementTable {
    position: relative;
    .el-table {
      th {
        background: #f4f4f4 !important;
        text-align: center;
        padding: 0px;
        height: 45px;
      }
      td {
        padding: 0px;
        height: 36px;
      }
      .el-table__body-wrapper {
        overflow: hidden;
        height: 360px;
      }
      font-size: 12px;
      color: rgba(26, 23, 59, 1);
      .cell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        .el-button span {
          border-bottom: 1px solid #409EFF;
        }

      }
      .el-table__body-wrapper {
        border: 1px solid #EFEFEF;
        border-bottom: 0;
        border-top: 0;
      }
    }
    .el-icon-arrow-up:before {
      display: none;
    }
    .el-icon-arrow-up {
      background: url("../../assets/images/dropDown2.png") center center no-repeat;
      transform: rotateZ(0deg);
      width: 10px;
      height: 10px;
    }
    .tableStatus {
      position: absolute;
      right: 540px;
      top: 244px;
      z-index: 999;
      width: 100px;
      .el-dropdown {
        font-size: 12px;
        color: #909399;
      }
    }
    .sourceChannel {
      position: absolute;
      right: 414px;
      top: 1px;
      z-index: 999;
      .title {
        padding-top: 5px;
        line-height: 30px;
        height: 30px;
        color: #909399;
        display: block;
      }
      .title:before {
        content: "";
        float: right;
        padding-left: 2px;
        background: url("../../assets/images/dropDown2.png") center center no-repeat;
        width: 20px;
        height: 30px;
      }
    }
    .tableIntention {
      position: absolute;
      right: 186px;
      top: 11px;
      z-index: 999;
      width: 100px;
      .el-dropdown {
        font-size: 12px;
        color: #909399;
      }
    }
    .effectiveness {
      position: absolute;
      right: 664px;
      top: 1px;
      z-index: 999;
      .title {
        padding-top: 5px;
        line-height: 30px;
        height: 30px;
        color: #909399;
        display: block;
      }
      .title:before {
        content: "";
        float: right;
        padding-left: 2px;
        background: url("../../assets/images/dropDown2.png") center center no-repeat;
        width: 20px;
        height: 30px;
      }
    }
    .tabDatePick {
      position: absolute;
      right: 231px;
      top: 5px;
      z-index: 999;
      .dateHeader {
        width: auto;
        background: none;
        border: 0px;
        padding: 0px;
        input {
          display: none;
        }
        .el-range-separator {
          width: auto;
          color: #909399;
          font-size: 12px;
          font-family: element-icons !important;
        }

        span:before {
          content: "";
          float: right;
          padding-left: 2px;
          background: url("../../assets/images/dropDown2.png") center center no-repeat;
          width: 20px;
          height: 30px;
        }
        i {
          display: none;
        }
      }

    }
  }
  .el-dropdown-menu__item {
    list-style: none;
    line-height: 18px;
    padding: 0px 8px;
    margin: 0;
    font-size: 12px;
    color: #606266;
    cursor: pointer;
    outline: 0;
  }
  .adPage {
    padding-top: 32px;
    text-align: right;
    height: auto;
    overflow: hidden;
    .el-pagination {
      float: right;
    }
    .el-pagination.is-background .btn-next,
    .el-pagination.is-background .btn-prev,
    .el-pagination.is-background .el-pager li {
      background: none;
      border: 1px solid rgba(220, 224, 230, 1);
    }
    .el-pagination.is-background .el-pager li:not(.disabled).active {
      background: rgba(0, 119, 255, 1);
      border-radius: 3px;
    }
    .pageLeft {
      padding-top: 3px;
      float: right;
      width: 300px;
      line-height: 30px;
      height: 30px;
      color: #8a96a0;
      .red {
        color: #fe0000;
      }
    }
  }
  .projectS {
    padding-bottom: 32px;
    height: auto;
    overflow: hidden;
    .tagList {
      width: 100%;
      clear: both;

      .el-tag {
        margin-top: 24px;
        margin-right: 12px;
      }
    }
    .left {
      float: left;
      height: 35px;
      margin-right: 30px;
      .el-checkbox{
        margin-left: 15px;
      }
      .el-button{
        width: 30px;
        padding-top: 9.5px;
        padding-bottom: 9.5px;
      }
      .el-date-editor--daterange{
        width: 300px;
      }
      .el-range-editor--small.el-input__inner{
        height: 35px;
        .el-range-separator{
          line-height: 28px;
          width: 6%;
        }
      }
      .type1 {
        border: 1px solid #dcdfe6;
        border-radius: 4px;
        width: 400px;
        height: 35px;
        .el-select .el-input__inner {
          border: none;
          height: 32px;
          line-height: 30px;
          cursor: text;
        }
        .typeClass {
          .el-input__suffix {
            border-right: 1px solid #dcdfe6;
          }
        }
        .serachS {
          .el-input {
            width: 280px;
          }
          .el-input__suffix {
            display: none;
          }
          .el-input--suffix .el-input__inner {
            padding-right: 0px;
          }
        }
      }
      .type2 {
        border: 1px solid #dcdfe6;
        border-radius: 4px;
        width: 400px;
        .el-select .el-input__inner {
          border: none;
          height: 33px;
          line-height: 33px;
        }
        .typeClass {
          .el-input__suffix {
            border-right: 1px solid #dcdfe6;
          }
        }
        .serachS {
          width: 280px;
          .el-input__inner {
            height: 32px;
            line-height: 32px;
            border: 0px;
          }
        }
      }

      .input-with-select {
        input::-webkit-input-placeholder {
          /*WebKit browsers*/
          font-size: 12px;
          color: rgba(204, 209, 214, 1);
        }
      }
      .el-select .el-input {
        font-size: 12px;
        width: 106px;
        .el-icon-arrow-up:before {
          display: none;
        }
        .el-icon-arrow-up {
          background: url("../../assets/images/dropDown2.png") center center no-repeat;
          transform: rotateZ(0deg);
        }
        .is-reverse {
          transform: rotateZ(180deg);
        }
        .el-select__caret {
          line-height: 32px;
        }
      }
      .input-with-select .el-input-group__prepend {
        background-color: #fff;
      }
    }
    .right {
      float: right;
      .el-button {
        width: 100px;
        height: 35px;
        font-size: 12px;
      }
      .el-button--default {
        color: rgba(0, 119, 255, 1);
        border-color: rgba(0, 119, 255, 1);
      }
      .el-button--primary {
        background: rgba(0, 119, 255, 1);
      }
    }
  }
}


