.backBtn {
  width: 20px;
  height: 20px;
  margin-right: 25px;
  background-image: url('../../assets/landingpage/settings/setting_leftarrow_icon@3x.jpg');
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  margin-top: 20px;
  cursor: pointer;
}

.ghost {
  opacity: 0;
  background: #c8ebfb;
}

.el-col {
  width: 1380px;
}

.el-button {
  width: 100px;
  margin-left: 12px;
}

.mb30 {
  margin-bottom: 30px;
}

.el-checkbox__label {
  font-size: 12px !important;
}

#step1 {
  margin-top: 30px;
  /* margin-bottom: 250px;*/
  .el-form {
    float: left;
    width: 440px;
    .el-form-item {
      margin-bottom: 20px;
      position: relative;
      .el-select {
        width: 100% !important;
      }
      span.important {
        position: absolute;
        top: 0;
        right: -12px;
        color: red;
        line-height: 36px;
      }
      .callTel1 {
        width: 140px;
      }
      .callTel2 {
        width: 80px;
      }
    }
    .tips {
      color: #8a96a0 !important;
      margin-left: 100px;
      margin-top: -8px;
      display: block;
      font-size: 12px;
    }
  }
  .warning-zone {
    width: 400px;
    height: 268px;
    float: left;
    .warning-item {
      height: 32px;
      line-height: 32px;
      margin-bottom: 20px;
      .warning-wrap {
        float: left;
        position: relative;
        padding: 0 15px;
        background-color: #ff3366;
        border-radius: 3px;
        .warning-icon {
          float: left;
          width: 14px;
          height: 14px;
          border-radius: 10px;
          text-align: center;
          margin-top: 9px;
          margin-right: 10px;
          background-color: #fff;
          color: #ff3366;
          line-height: 14px;
        }
        span {
          color: #fff;
        }
        &:before {
          content: '';
          width: 0px;
          height: 0px;
          border: 5px solid transparent;
          position: absolute;
          left: -9px;
          top: 11px;
          border-right-color: #ff3366;
        }
      }
    }
  }
}

#step2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f2f4f8;
  .left {
    width: 912px;
    .top-setting {
      display: flex;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #eff2f6;
      .item {
        position: relative;
        cursor: pointer;
        width: 100px;
        height: 100px;
        border: 1px solid #e0e6ed;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon {
          display: block;
        }
        p {
          font-size: 12px;
          height: 18px;
          line-height: 18px;
          color: #1a173b;
        }
        .edit {
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          left: -1px;
          bottom: -1px;
          background-image: url('../../assets/landingpage/settings/edit_pen@3x.png');
          background-repeat: no-repeat;
          background-size: cover;
        }
        &.active {
          border-color: #0077ff;
        }
      }
    }
    .func-setting,
    .plugin-setting {
      padding-bottom: 14px;
      margin-bottom: 30px;
      border-bottom: 1px solid #eff2f6;
      .title {
        margin-top: 30px;
        height: 30px;
        margin-bottom: 30px;
        font-size: 12px;
      }
      .body {
        width: 928px;
        display: flex;
        flex-wrap: wrap;
        .item {
          position: relative;
          cursor: pointer;
          width: 100px;
          height: 100px;
          margin-right: 16px;
          margin-bottom: 16px;
          border: 1px solid #e0e6ed;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .icon {
            display: block;
          }
          p {
            font-size: 12px;
            height: 18px;
            line-height: 18px;
            color: #1a173b;
          }
          .edit {
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            left: -1px;
            bottom: -1px;
            background-image: url('../../assets/landingpage/settings/edit_pen@3x.png');
            background-repeat: no-repeat;
            background-size: cover;
          }
          .dl {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 0px;
            top: 0px;
            background-image: url('../../assets/landingpage/settings/edit.delete@3x.png');
            background-repeat: no-repeat;
            background-size: cover;
          }
          &.active {
            border-color: #0077ff;
            .edit {
              display: block;
            }
          }
          &.add {
            border: 1px dashed #e0e6ed;
          }
        }
      }
    }
  }
  .right {
    width: 400px;
    padding-bottom: 30px;
    margin-left: 78px;
    .wrap {
      border-left: 1px solid #c0ccda;
      height: 100%;
      border-top: 1px solid #f2f4f8;
      border-bottom: 1px solid #f2f4f8;
      padding: 30px;
      .title {
        height: 64px;
        line-height: 40px;
        color: #1a173b;
        border-bottom: 1px solid #e0e6ed;
        .title-icon {
          display: block;
          float: left;
          margin-right: 12px;
        }
        .title-name {
          float: left;
          font-size: 12px;
        }
      }
      .form {
        .form-item {
          height: 64px;
          border-bottom: 1px solid #e0e6ed;
          .form-item-name {
            float: left;
            height: 63px;
            line-height: 63px;
            font-size: 12px;
          }
          .form-item-input {
            width: 100px;
            float: right;
            margin-top: 16px;
            font-size: 12px;
          }
          .radio {
            float: right;
            margin-top: 23px;
          }
        }
      }
      .form-item-btn {
        width: 100% !important;
        margin-left: 0px !important;
        margin-top: 32px;
      }
    }
  }
  .addTagBox {
    .el-dialog__body {
      border: 1px solid rgba(229, 233, 242, 1);
    }
    .tab {
      border: 1px solid rgba(229, 233, 242, 1);
      border-radius: 3px;
      h2 {
        height: 36px;
        font-size: 12px;
        color: rgba(138, 150, 160, 1);
        line-height: 36px;
        background: rgba(248, 249, 250, 1);
        padding-left: 56px;
      }
      .list {
        padding-left: 20px;
        border-bottom: rgba(241, 241, 241, 1) 1px solid;
        height: 36px;
        line-height: 36px;
        font-size: 12px !important;
        .el-checkbox {
          .el-checkbox__label {
            font-size: 12px !important;
          }
        }

      }
      .list:last-child {
        border-bottom: 0px;
      }
      .el-checkbox-group {
        padding: 0px;
      }
    }
  }
}

#step3 {
  .weekClass {
    .el-checkbox {
      float: left;
      padding-right: 25px;
    }
  }
  #banner-setting {
    .title {
      padding-top: 30px;
    }
  }
  .title {
    padding-bottom: 35px;
    color: #1a173b;
    font-size: 16px;
    height: auto;
    p {
      width: 344px;
      height: 40px;
      font-size: 14px;
      font-family: PingFangSC-Regular;
      color: rgba(26, 23, 59, 1);
      line-height: 20px;
      padding-top: 20px;
    }
  }
  #banner-setting {
    .label {
      float: left;
      width: 80px;
      color: #8a96a0;
      font-size: 14px;
    }
    .img-upload {
      float: left;
      .el-upload-dragger .el-upload__text {
        position: absolute;
        top: 10px;
        width: 100%;
      }
    }
  }
  #label-setting {
    min-height: 400px;
    border-bottom: 1px solid #f2f4f8;
    .plugin-form-top {
      padding: 20px 0;
      border-bottom: 1px solid #e0e6ed;
      img {
        float: left;
      }
      .name {
        float: left;
        line-height: 40px;
        font-size: 14px;
        color: #1a173b;
        margin-left: 12px;
      }
    }
    .content {
      display: flex;
      .styel-list {
        min-height: 400px;
        width: 375px;
        border-right: 1px solid #eff2f6;
        padding-top: 30px;
        .style-list-ltem {
          .list {
            width: 352px;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 32px;
            .list-item {
              width: 80px;
              height: 106px;
              margin-right: 8px;
              margin-bottom: 8px;
              background-image: url('../../assets/example.png');
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              &.active {
                box-shadow: 0px 0px 6px 0px rgba(0, 119, 255, 0.8),
                0px 2px 4px 0px rgba(0, 119, 255, 0.9);
              }
            }
          }
        }
      }
      .from-list {
        width: 586px;
        min-height: 400px;
        padding: 30px;
        border-right: 1px solid #f2f4f8;
        margin-right: 30px;
        .el-form-item {
          margin-bottom: 20px;
          .img-upload {
            float: left;
            .el-upload-dragger .el-upload__text {
              position: absolute;
              top: -20px;
              width: 100%;
            }
          }
        }
      }
      .pic-list {
        padding-top: 30px;
        width: 388px;
        min-height: 400px;
      }
    }
  }
  #plugin-setting {
    .plugin-form-top {
      padding: 20px 0;
      border-bottom: 1px solid #e0e6ed;
      img {
        float: left;
      }
      .name {
        float: left;
        line-height: 40px;
        font-size: 14px;
        color: #1a173b;
        margin-left: 12px;
      }
    }
    .plugin-form-wrap {
      padding: 30px 0;
      border-bottom: 1px solid #e0e6ed;
      .el-form {
        color: #1f2d3d !important;

        .el-form-item {
          margin-bottom: 20px;
          position: relative;

          .callTel {
            width: 200px;
          }
          .callTel1 {
            width: 140px;
          }
          .callTel2 {
            width: 80px;
          }
          .callTel3 {
            width: 120px;
          }
          .color-picker-sucker {
            opacity: 0;
          }
          .color-picker {
            position: absolute !important;
            width: 122px;

            .el-color-picker--small .el-color-picker__trigger {
              width: 122px !important;
              .el-color-picker__color {
                width: 16px;
              }
            }
          }

          span.important {
            position: absolute;
            top: 0;
            right: -16px;
            color: red;
            line-height: 16px;
          }
        }
      }
      .left {
        float: left;
      }
      .pickerColor {
        margin-left: 20px;
        width: 122px;
        float: left;
        border-radius: 3px;
        border: 1px solid rgba(220, 224, 230, 1);
        position: relative;
        .text {
          padding-left: 35px;
          font-size: 12px;
          float: left;
        }
        .img {
          background: url("../../assets/images/sucker.png") 5px center no-repeat;
          width: 32px;
          height: 33px;
          background-size: 18px 18px;
          display: block;
          float: right;
          border-left: 1px solid rgba(220, 224, 230, 1);
        }
        .importants {
          position: absolute;
          top: 10px;
          right: -16px;
          color: red;
          line-height: 16px;
        }
      }
    }
  }
}

.style-container {
  position: relative;
  height: 166px;
}

// 裁剪框
.cut {
  width: 500px;
  height: 500px;
  margin: 30px auto;
}

.c-item {
  max-width: 800px;
  margin: 10px auto;
  margin-top: 20px;
}

.content {
  margin: auto;
  max-width: 1200px;
  margin-bottom: 100px;
}

.test-button {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #c0ccda;
  color: #1f2d3d;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 20px 10px 0px 0px;
  padding: 9px 15px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  background-color: #50bfff;
  border-color: #50bfff;
  transition: all .2s ease;
  text-decoration: none;
  user-select: none;
}

.des {
  line-height: 30px;
}

code.language-html {
  padding: 10px 20px;
  margin: 10px 0px;
  display: block;
  background-color: #333;
  color: #fff;
  overflow-x: auto;
  font-family: Consolas, Monaco, Droid, Sans, Mono, Source, Code, Pro, Menlo, Lucida, Sans, Type, Writer, Ubuntu, Mono;
  border-radius: 5px;
  white-space: pre;
}

.show-info {
  margin-bottom: 50px;
}

.show-info h2 {
  line-height: 50px;
}

/*.title, .title:hover, .title-focus, .title:visited {
  color: black;
}*/

/*.title {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
  margin: 20px 0px;
  background-image: -webkit-linear-gradient(left,#3498db,#f47920 10%,#d71345 20%,#f7acbc 30%,#ffd400 40%,#3498db 50%,#f47920 60%,#d71345 70%,#f7acbc 80%,#ffd400 90%,#3498db);
  color: transparent;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  animation: slide 5s infinite linear;
  font-size: 40px;
}*/

.test {
  height: 500px;
}

.model {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.model-show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.model img {
  display: block;
  margin: auto;
  max-width: 80%;
  user-select: none;
  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}

.c-item {
  display: block;
  user-select: none;
}

.vue-cropper {
  background-image: none !important;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.tailorBox {
  .tailor {
    width: 100%;
    height: 500px;
    margin: 0 auto;
  }
}

.imgfileList {
  ul li {
    padding-bottom: 10px;
    width:100%;
    height:92px;
    display: block;
    .imgf{
        width: 158px;
      float: left;
      img {
        width: 158px;
        height: 82px;
        border-radius: 5px;
      }
    }

    i {
      float: left;
      font-size: 16px;
      padding-left: 12px;
      padding-top: 60px;
    }
  }
}


.imgfileList2{
  ul li {
    padding-bottom: 10px;
    width:100%;
    height:92px;
    display: block;
    .imgf{
      width: 318px;
      float: left;
      .el-upload--picture-card{
        line-height: 82px !important;
      }
      img {
        width: 318px;
        height: 82px;
        line-height: 82px;
        border-radius: 5px;
      }
    }

    i {
      float: left;
      font-size: 16px;
      padding-left: 12px;
      padding-top: 60px;
    }
  }
}

.deleteImg{
  padding-top: 60px;
  padding-left: 12px;
  font-size: 16px;
}
