.CoversStyle{
    width: 100%;
    height: 1324px;
    display: flex;
    // 中间的画布区域
    .cover{
      width:100%;
      height: 100%;
      background-color:#fcfcfd;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      >.coverRight{
        position: relative;
        text-align: center;
        //  margin: 100px auto;
         position: relative;
          >.text{
            // position: absolute;
            position: relative;
            // left: 540px;
            top: 100px;
            left: -172px;
            font-size: 16px;
            font-weight: 600;
          }
          // 画布
          >.codeChunk{
            background-size:cover !important;
            position: relative;
            margin: 120px auto;
            // margin-top: 0;
            width: 375px;
            height: 667px;
            border: 1px solid #999;
            .imgs{
              //width: 100px;
              //height: 100px;
              //background-color: #0077ff
            }
          }
          // 画布小功能的按钮
          .coverBtn{
            position: relative;
            // right: 440px;
            // bottom: 0px;
            // width: 40px;
            // height: 112px;
            left: 211px;
            top: -225px;
            .coverReset,.coverBackground,.coverDelete{
              margin: 0 auto;
              width: 32px;
              height: 32px;
              text-align: center;
              line-height: 32px;
              font-size: 14px;
            }
            .coverReset{
              margin-top: 4px;
            }
            .coverBackground{
              margin-top:4px;
              margin-bottom: 4px;
            }
            .coverDelete{
            }
          }
      }
    }
    // 右边的布局, 包含着样式 插件 属性
    .stylesRight{
      display: flex;
      height: 100%;
      // 这是样式
      >.stylesOperation{
        width: 276px;
        height: 100%;
          .styles{
            width: 276px;
            >span{
              display: block;
              width: 90%;
              height: 46px;
              line-height: 46px;
              text-align: center;
              margin: 0 auto;
              font-size: 16px;
              border-bottom: 1px solid rgba(242,244,248,1);
              margin-bottom: 10px;
            }
            .selectStyle_1{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
              >li{
                margin: 4px 6px;
                border: 1px solid #666;
                width:80px;
                height:108px;
                >img{
                  height: 100%;
                  width: 100%;
                }
              }
            }
          }
          .plug-in{
            width: 276px;
            >span{
              display: block;
              width: 90%;
              height: 46px;
              line-height: 46px;
              text-align: center;
              margin: 0 auto;
              font-size: 16px;
              border-bottom: 1px solid rgba(242,244,248,1);
              margin-bottom: 10px;
            }
            .plug-inBtn_1{
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              margin:16px 0;
            >li{
              margin: 4px 6px;
              border: 1px solid rgba(242,244,248,1);
              width:80px;
              height:108px;
              >img{
                width: 100%;
              }
            }
          }
        }
          // 属性文本框
          .property{
            width: 276px;
            >span{
              display: block;
              width: 90%;
              height: 46px;
              line-height: 46px;
              text-align: center;
              margin: 0 auto;
              font-size: 16px;
              border-bottom: 1px solid rgba(242,244,248,1);
              margin-bottom: 10px;
            }
            .property_1{
              width: 94%;
              margin: 0 auto;
            }
            .colour{
              margin-left: 10px;
              margin-top: 8px;
              .hueBox{
                position: relative;
                >.hue-kuang{
                  display: inline-block;
                  height: 42px;
                }
                .hue{
                  width: 28px;
                  height: 42px;
                  margin-left: 54px;
                  display: inline-block;
                  background: url(./sucker.png) no-repeat;
                  background-size: 16px;
                  background-position: center;
                  .el-color-picker{
                    // padding-top: 4px;
                    opacity: 0;
                  }
                }
                .colorbox{
                  display: inline-block;
                  width: 60px;
                  height: 30px;
                  position: absolute;
                  top: 10px;
                }
              }
            }
        }
        // 上传图片
        .uploadingImg{
          >span{
            display: block;
            width: 90%;
            height: 46px;
            line-height: 46px;
            text-align: center;
            margin: 0 auto;
            font-size: 16px;
            border-bottom: 1px solid rgba(242,244,248,1);
            margin-bottom: 10px;
          }
          .el-upload{
            margin: 0 auto;
            .el-upload__text {
              // position: absolute;
              width: 100%;
              margin: 0 auto;
              margin-top: -124px;
            }
          }
          >.imghue{
            >.colour{
              margin-left: 10px;
              margin-top: 8px;
              .hueBox{
                position: relative;
                >.hue-kuang{
                  display: inline-block;
                  height: 42px;
                }
                .hue{
                  width: 28px;
                  height: 42px;
                  margin-left: 54px;
                  display: inline-block;
                  background: url(./sucker.png) no-repeat;
                  background-size: 16px;
                  background-position: center;
                  .el-color-picker{
                    // padding-top: 4px;
                    opacity: 0;
                  }
                }
                .colorbox{
                  display: inline-block;
                  width: 60px;
                  height: 30px;
                  position: absolute;
                  top: 10px;
                }
              }
            }
          }
        }
        // 手机输入框
        .formPhoneNumber{
          width: 90%;
          margin: 0 auto;
          >span{
            display: inline-block;
            font-size: 14px;
            margin-bottom: 10px;
            width: 100%;
          }
        }
        // 姓名输入框
        .formName{
          >span{
            display: block;
            width: 90%;
            height: 46px;
            line-height: 46px;
            text-align: center;
            margin: 0 auto;
            font-size: 16px;
            border-bottom: 1px solid rgba(242,244,248,1);
            margin-bottom: 10px;
          }
          width: 90%;
          margin: 0 auto;
          >.choiceBtn{
            padding-bottom: 12px;
            border-bottom: 1px solid #eee;
            >div{
              margin: 16px 0;
            }
          }
          >.inputBox{
            margin-top: 12px;
            >span{
              display: inline-block;
              font-size: 14px;
              margin-bottom: 10px;
            }
          }
        }
        // 预约时间
        .formAppointment{
          >span{
            display: block;
            width: 90%;
            height: 46px;
            line-height: 46px;
            text-align: center;
            margin: 0 auto;
            font-size: 16px;
            border-bottom: 1px solid rgba(242,244,248,1);
            margin-bottom: 10px;
          }
          width: 90%;
          margin: 0 auto;
          >.choiceBtn{
            padding-bottom: 12px;
            border-bottom: 1px solid #eee;
            >div{
              margin: 16px 0;
            }
          }
          .weeks{
            margin-top: 12px;
            >span{
              display: inline-block;
              font-size: 14px;
              margin-bottom: 10px;
            }
            >.single{
              width: 100%;
              display: flex;
              flex-flow: wrap;
              >.el-radio{
                margin: 0;
                margin: 10px 10px 10px 0;
                font-size: 12px;
              }
            }
            >.Multiple{
              >.el-checkbox-group{
                width: 100%;
                display: flex;
                flex-flow: wrap;
                >.el-checkbox{
                  margin-right:10px;
                }
              }
            }
          }
        }
        // 立即预约
        .formSubmitBtn{
          >span{
            display: block;
            width: 90%;
            height: 46px;
            line-height: 46px;
            text-align: center;
            margin: 0 auto;
            font-size: 16px;
            border-bottom: 1px solid rgba(242,244,248,1);
            margin-bottom: 10px;
          }
          width: 90%;
          margin: 0 auto;
          >.inputBox{
            margin-top: 12px;
            >span{
              display: inline-block;
              font-size: 14px;
              margin-bottom: 10px;
            }
          }
          >.submitColour{
            >.colour{
              margin-left: 10px;
              margin-top: 8px;
              border-bottom: 1px solid #eee;
              .hueBox{
                position: relative;
                >.hue-kuang{
                  display: inline-block;
                  height: 42px;
                }
                .hue{
                  width: 28px;
                  height: 42px;
                  margin-left: 54px;
                  display: inline-block;
                  background: url(./sucker.png) no-repeat;
                  background-size: 16px;
                  background-position: center;
                  .el-color-picker{
                    // padding-top: 4px;
                    opacity: 0;
                  }
                }
                .colorbox{
                  display: inline-block;
                  width: 60px;
                  height: 30px;
                  position: absolute;
                  top: 10px;
                }
              }
            }
          }
        }
        // 选择户型
        .formHouse{
          >span{
            display: block;
            width: 90%;
            height: 46px;
            line-height: 46px;
            text-align: center;
            margin: 0 auto;
            font-size: 16px;
            border-bottom: 1px solid rgba(242,244,248,1);
            margin-bottom: 10px;
          }
          width: 90%;
          margin: 0 auto;
          >.houseBtn{
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
            .el-radio{
              margin-bottom: 10px;
            }
          }
          >.definitionHouse{
            margin-top: 14px;
            >.houseText{
              >span{
                display: inline-block;
                font-size: 14px;
                margin-bottom: 10px;
              }
            }
            >.houseInput{
              position: relative;
              width: 100%;
              .el-input{
                width: 77%;
                margin-bottom: 10px;
              }
              .deleteHouse{
                position: relative;
                right: 8px;
                display: inline-block;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                border: 1px solid #eee;
                border-radius: 15%;
                color: #0077ff;
                font-size: 16px;
              }
              span{
                position: relative;
                right: 30px;
              }
            }
          }
        }
        // 拨打电话
        .formDial{
          >span{
            display: block;
            width: 90%;
            height: 46px;
            line-height: 46px;
            text-align: center;
            margin: 0 auto;
            font-size: 16px;
            border-bottom: 1px solid rgba(242,244,248,1);
            margin-bottom: 10px;
          }
          width: 90%;
          margin: 0 auto;
          .dialInput{
            margin-top: 12px;
            >span{
              display: inline-block;
              font-size: 14px;
              margin-bottom: 10px;
            }
          }
          .submitColour{
            margin-top: 12px;
            >.colour{
              border-bottom: 1px solid #eee;
              .hueBox{
                position: relative;
                >.hue-kuang{
                  display: inline-block;
                  height: 42px;
                }
                .hue{
                  width: 28px;
                  height: 42px;
                  margin-left: 54px;
                  display: inline-block;
                  background: url(./sucker.png) no-repeat;
                  background-size: 16px;
                  background-position: center;
                  .el-color-picker{
                    // padding-top: 4px;
                    opacity: 0;
                  }
                }
                .colorbox{
                  display: inline-block;
                  width: 60px;
                  height: 30px;
                  position: absolute;
                  top: 10px;
                }
              }
            }
          }
        }
      }
      .warehouse{
        width: 52px;
        height: 100%;
        border-left: 1px solid #eee;
        >.yangshi{
          width: 50px;
          height: 90px;
          text-align: center;
          >div{
            font-size: 20px;
            padding-top: 30px;
          }
          >span{
            font-size: 14px;
          }
        }
        .active{
          background-color: #0077ff;
          color: #fff;
        }
      }
    }
  }
  .buttons{
    width: 100%;
    position: absolute;
    bottom: -102px !important;
    height: 92px;
    padding: 30px 0px;
    left: -50px;
    border-top: 1px solid rgb(242, 244, 248);
    border-bottom: 1px solid rgb(242, 244, 248);
    margin-bottom: 10px;
    >.el-row{
      float:right;
      .el-button{
        padding:6px 32px;
      }
    }
  }
